@import "tailwindcss";

:root {
  --color-white0: #ffffff;
  ---main-gradient: linear-gradient(to right, #FF1E1E, #FF8079 )
}

.scrolling-text-container {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-gradient {
  background: linear-gradient(
    to left,
    #FF8079 0%,
    #FF1E1E 100%
  );
}

.swiper-pagination {
  margin-top: 100px;
}

/* bg-linear-to-tl from-[#0003CF]/5 0% to-[#FF0004]/5 100% */
/* bg-[linear-gradient(210deg,rgba(255,128,121,1)_0%,rgba(255,30,30,1)_100%)] */

